*.iml
.gradle
/local.properties
/keystore.properties
/.idea/caches
/.idea/libraries
/.idea/markdown-exported-files.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/encodings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/docs/dokka
*.apk
translations/